<header>
    <nav id="navigationBar">
        <div id="navSearch">
            <h1 id="logo">Banner Logo</h1>
            <div id="searchBoxAlign">
                <input type="text" id="searchBox" placeholder="Enter keywords">
                <button id="searchSubmit">
                    <i class="searchIcon menuIcons"></i>
                </button>
            </div>
        </div>

        <div id="navButtons">
            <i class="dropdownIcon menuIcons"></i>
            <div id="navbarDropdownContent">
                <div class="navButton" *ngFor='let navButton of navButtons'>{{navButton}}</div>
            </div>
        </div>

        <ul id="navRegister">
            <li class="clickableText truncateText">Login or Register</li>
        </ul>
    </nav>
</header>
