<header>
    <nav id="navigationBar">
        <div id="navSearch">
            <h1 id="logo">Banner Logo</h1>
            <div id="searchBoxAlign">
                <input type="text" id="searchBox" placeholder="Enter keywords">
                <button id="searchSubmit">
                    <i class="searchIcon menuIcons"></i>
                </button>
            </div>
        </div>

        <div id="navButtons">
            <i class="dropdownIcon menuIcons"></i>
            <div id="navbarDropdownContent">
                <div class="navButton">Home</div>
                <div class="navButton">About is</div>
                <div class="navButton">Blog</div>
                <div class="navButton">Term</div>
                <div class="navButton">Contact</div>
            </div>
        </div>

        <div id="navRegister">
            <p class="clickableText truncateText">Login or Register</p>
        </div>
    </nav>
</header>
