<input type="checkbox" name="rightPanelSlider" id="rightPanelSlider">
            <aside id="rightPanel">

                <div class="rightPanelStatus">
                    <div id="rightPanelQuestionStatusBackground"></div>
                    <div class="spaceBetweenColumn">
                        <h3 class="rightPanelStatusHeader">Questions</h3>
                        <h1 class="largeText">13</h1>
                    </div>
                </div>
                <div class="rightPanelStatus">
                    <div id="rightPanelAnswersStatusBackground"></div>
                    <div class="spaceBetweenColumn">
                        <h3 class="rightPanelStatusHeader">Answers</h3>
                        <h1 class="largeText">8</h1>
                    </div>
                </div>

                <h3 class="alignTextCenter darkerBorderBottom">MOST USED TAGS</h3>

                <input type="checkbox" name="tagToggler" id="tagToggler">
                <div class="tagDisplayBlock">
                    <div>
                        <p class="tag">Lorem, ipsum.</p>
                    </div>
                    <div>
                        <p class="tag">Lorem, ipsum dolor.</p>
                    </div>
                    <div>
                        <p class="tag">Lorem.</p>
                    </div>
                    <div>
                        <p class="tag">Lorem, ipsum.</p>
                    </div>
                    <div>
                        <p class="tag">Lorem.</p>
                    </div>
                    <div>
                        <p class="clickableText">See more tags</p>
                    </div>
                </div>

                <h3 class="alignTextCenter darkerBorderBottom">HOT QUESTIONS</h3>
                <div id="hotQuestions">
                    <p class="clickableText">Lorem ipsum dolor sit amet.</p>
                    <p class="clickableText">Lorem, ipsum dolor.</p>
                    <p class="clickableText">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p class="clickableText">Lorem ipsum dolor sit.</p>
                    <p class="clickableText">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </aside>