<div id="wrapper">
    <a routerLink="">Go back</a>
    <div id="formBackground">
        <form id='question'>
            <label for="author">Author</label><input name="author" type="text" id="author" value='{{data.author}}'>
            <label for="date">Date</label><input name="date" type="date" id="date" value='{{data.date}}'>
            <label for="title">Title</label><input name="title" type="text" id="title" value={{data.title}}>
            <label for="content">Question</label><textarea name="content" id="content" cols="30" rows="10" value={{data.content}}></textarea>
            <label for="tags">Tags (comma delimited)</label><input id="tags" type="text" value={{data.tags}}>
            <p id='error'></p>
            <button id="newPost" type="button">Submit</button>
        </form>
    </div>
</div>