<div id="wrapper">
    <a routerLink="">Go back</a>
    <div id="formBackground">
        <form id='question'>
            <label for="author">Author</label><input type="text" id="author" [(ngModel)]="data.author" #name="ngModel" name='author'>
            <label for="date">Date</label><input name="date" type="date" id="date" [(ngModel)]='data.date' #name="ngModel">
            <label for="title">Title</label><input type="text" id="title" [(ngModel)]='data.title' name='title' #name="ngModel">
            <label for="content">Question</label><textarea name="content" id="content" cols="30" rows="10"
                [(ngModel)]='data.content' #name="ngModel"></textarea>
            <label for="tags">Tags (comma delimited)</label><input id="tags" type="text" [(ngModel)]='data.tags' name='tags'>
            <p id='error'></p>
            <button id="newPost" routerLink="" (click)="save()" type="button">Submit</button>
            <button id="delete"  routerLink="" type="button" (click)="delete()">Delete</button>
        </form>
    </div>
</div>