<main id="main">
    <div class="bottomBorder" id="questionCategory">
        <div>
            <h4 id="selectHeader">All Questions</h4>
            <select>
                <option>
                    Lorem, ipsum dolor.
                </option>
            </select>
        </div>
    </div>

    <div class="bottomBorder" id="questionPage">
        <div>
            <select>
                <option>
                    Lorem, ipsum.
                </option>
            </select>
        </div>
    </div>

    <div class="topic bottomBorder" onclick="redirect(16)">
        <section class="question">
            <h1 class="commentHeader">Serious question nr1</h1>
            <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut non, eligendi similique qui
                officiis fugiat quae dolorem. Nesciunt, inventore veniam. Iste necessitatibus, iure facere pariatur
                delectus ab quidem laboriosam nulla perferendis, in distinctio. Cumque officia iure assumenda</p>
            <p class="tag">1</p>
            <p class="tag">2</p>
            <p class="tag">3</p>
            <p class="tag">4</p>
            <p class="tag">5</p>
            <p class="tag">9</p>
        </section>
        <aside class="statusBars">
            <div class="viewsCount">0</div>
            <div class="answersCount">3</div>
            <div class="votesCount">-5</div>
        </aside>
    </div>
    <div class="topic bottomBorder" onclick="redirect(17)">
        <section class="question">
            <h1 class="commentHeader">1</h1>
            <p class="comment">1</p>
            <p class="tag">1</p>
            <p class="tag">2</p>
            <p class="tag">3</p>
            <p class="tag">4</p>
            <p class="tag">5</p>
            <p class="tag">6</p>
            <p class="tag">7</p>
            <p class="tag">8</p>
            <p class="tag">9</p>
        </section>
        <aside class="statusBars">
            <div class="viewsCount">0</div>
            <div class="answersCount">0</div>
            <div class="votesCount">0</div>
        </aside>
    </div>
    <div class="topic bottomBorder" onclick="redirect(18)">
        <section class="question">
            <h1 class="commentHeader">1</h1>
            <p class="comment">12</p>
            <p class="tag">5</p>
            <p class="tag">8</p>
            <p class="tag">9</p>
            <p class="tag">7</p>
            <p class="tag">8</p>
            <p class="tag">5</p>
            <p class="tag">1</p>
            <p class="tag">3</p>
        </section>
        <aside class="statusBars">
            <div class="viewsCount">0</div>
            <div class="answersCount">0</div>
            <div class="votesCount">0</div>
        </aside>
    </div>
    <div id="questionThread">
    </div>
</main>