<main id="main">
    <div class="bottomBorder" id="questionCategory">
        <div>
            <h4 id="selectHeader">All Questions</h4>
            <select>
                <option>
                    Lorem, ipsum dolor.
                </option>
            </select>
        </div>
    </div>

    <div class="bottomBorder" id="questionPage">
        <div>
            <select>
                <option>
                    Lorem, ipsum.
                </option>
            </select>
        </div>
    </div>
    <div *ngFor="let question of questions" class="topic bottomBorder" routerLink="/form/{{question.id}}">
        <section class="question">
            <h1 class="commentHeader">{{question.title}}</h1>
            <p class="comment">{{question.content}}</p>
            <p class="tag" *ngFor="let tag of question.tags">
                {{tag}}
            </p>
        </section>
        <aside class="statusBars">
            <div class="viewsCount">{{question.viewCount}}</div>
            <div class="answersCount">{{question.answerCount}}</div>
            <div class="votesCount">{{question.votesCount}}</div>
        </aside>
    </div>
</main>
