<main id="main">
    <div *ngFor="let question of questions" class="topic bottomBorder">
        <section class="question">
            <h1 class="commentHeader">{{question.title}}</h1>
            <p class="comment">{{question.content}}</p>
            <p class="tag" *ngFor="let tag of question.tags">
                {{tag}}
            </p>
        </section>
        <aside class="statusBars">
            <div class="viewsCount">{{question.viewCount}}</div>
            <div class="answersCount">{{question.answerCount}}</div>
            <div class="votesCount">{{question.votesCount}}</div>
        </aside>
    </div>
</main>