body {
    margin: 0;
    padding: 0;
  }
  
  @media only screen and (min-width: 1000px) {
    #grid {
      display: grid;
      height: 100vh;
      grid-template-columns: 16% 68% 16%;
      grid-template-rows: 7% 93%;
      grid-template-areas: "nav nav nav" "left main right";
    }
  
    /* Navbar css */
    #nav {
      grid-area: nav;
      margin: 0;
      padding: 0;
      display: flex;
      background-color: rgb(35, 35, 59);
    }
  
    #navSearch {
      width: 59%;
    }
  
    #navButtons {
      width: 25%;
      background-color: rgb(15, 15, 39);
    }
  
    /* Left panel css */
  
    #left {
      grid-area: left;
      border-right: 2px solid rgb(238, 237, 237);
      display: flex;
      height: 100%;
    }
  
    #ask {
      width: 90%;
      height: 50px;
      background-color: rgb(112, 112, 230);
      border: 0;
      border-radius: 5px;
      margin: 25px auto;
    }
  
    /* Right panel css */
  
    #right {
      grid-area: right;
      background-color: rgb(238, 237, 237);
      height: 100%;
    }
  
    /* Main panel css */
  
    #main {
      grid-area: main;
      height: 100%;
    }
  
    #main div {
      width: 100%;
    }
  
    #category {
      height: 4rem;
    }
  
    /* Centers divs with selections */
    #category,
    #page {
      border-bottom: 2px solid rgb(238, 237, 237);
      display: flex;
      justify-content: center;
      margin: auto;
      flex-direction: column;
    }
  
    #page {
      height: 2.5rem;
    }
  
    select {
      background-color: rgb(252, 250, 250);
      border: 1px solid rgb(238, 237, 237);
      border-radius: 3px;
      display: inline;
      float: right;
      width: 150px;
      height: 25px;
      margin-right: 15px;
    }
  
    .topic {
      display: flex;
      border-bottom: 2px solid rgb(238, 237, 237);
    }
  
    /* Colors every secont element starting from the first one */
    .topic:nth-child(2n-1) {
      background-color: rgb(252, 250, 250);
    }
  
    /* Colors  answer icons with every secont element*/
    .topic:nth-child(2n-1) .answers {
      background-color: rgb(128, 182, 151);
    }
  
    .question {
      margin: 0 auto;
      width: 100%;
      padding: 1rem;
    }
  
    /* Shaped tag elements, margins push them down instead of text. Width stands instead of text that would be inside*/
    .tag {
      border: 2px solid rgb(238, 237, 237);
      width: 50px;
      border-radius: 13px;
      background-color: rgb(252, 250, 250);
      height: 25px;
      display: inline-block;
      margin: 110px 15px 0 0;
    }
  
    .floatRight {
      margin-top: 25px;
      float: right;
      display: flex;
      justify-content: space-between;
    }
  
    .views,
    .answers,
    .votes {
      border-radius: 50%;
      height: 35px;
      width: 35px !important;
      border: 2px solid rgb(238, 237, 237);
      margin-right: 25px;
      background-color: transparent;
    }
  }