<input type="checkbox" name="leftPanelSlider" id="leftPanelSlider">
<aside id="leftPanel">
    <div class="bottomBorder">
        <button id="askQuestionButton" routerLink="/form">
            ASK A QUESTION
        </button>
    </div>

    <div class="bottomBorder">
        <button class="leftPanelMenuButtons">
            <i class="questionsIcon menuIcons"></i>
            <label for="" class="leftPanelMenuLabel">New Questions</label>
        </button>
        <button class="leftPanelMenuButtons">
            <i class="tagsIcon menuIcons"></i>
            <label class="leftPanelMenuLabel">Lorem.</label>
        </button>

        <button class="leftPanelMenuButtons">
            <i class="badgesIcon menuIcons"></i>
            <label class="leftPanelMenuLabel">Lorem, ipsum.</label>
        </button>

        <button class="leftPanelMenuButtons">
            <i class="categoriesIcon menuIcons"></i>
            <label class="leftPanelMenuLabel">Lorem, ipsum.</label>
        </button>
        <button class="leftPanelMenuButtons">
            <i class="usersIcon menuIcons"></i>
            <label class="leftPanelMenuLabel">Lorem.</label>
        </button>
    </div>
    <div id="socialButtons" class="bottomBorder">
        <button class="leftPanelSocialButtons">
            <div class="facebook"></div>
        </button>
        <button class="leftPanelSocialButtons">
            <div class="twitter"></div>
        </button>
        <button class="leftPanelSocialButtons">
            <div class="google"></div>
        </button>
    </div>

</aside>