<input type="checkbox" name="leftPanelSlider" id="leftPanelSlider">
<aside id="leftPanel">
    <div class="bottomBorder">
        <button id="askQuestionButton" routerLink="/form">
            ASK A QUESTION
        </button>
    </div>

    <div class="bottomBorder">
        <a class="leftPanelMenuButtons" *ngFor='let menuButton of menuButtons'>
            <i class="{{menuButton.icon}} menuIcons"></i>
            <span for="" class="leftPanelMenuLabel">{{menuButton.value}}</span>
        </a>
    </div>
    <div id="socialButtons" class="bottomBorder">
        <a class="leftPanelSocialButtons" *ngFor='let socialButtonIcon of socialButtonIcons'>
            <span class="{{socialButtonIcon}}"></span>
        </a>
    </div>

</aside>