@media only screen and (min-width: 1000px) {
  #grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 16% 68% 16%;
    grid-template-rows: 6% 93%;
    grid-template-areas: "nav nav nav" "left main right";
  }

  /* Navbar css */

  #navigationBar,
  header {
    grid-area: nav;
    align-content: space-between;
  }

  #navSearch {
    padding: 29px 0;
    width: 59%;
  }

  #navButtons {
    width: 25%;
  }

  /* Left panel css */

  #leftPanel {
    grid-area: left;
  }

  /* Right panel css */

  #rightPanel {
    grid-area: right;
  }

  /* Main panel css */

  #main {
    grid-area: main;
  }

  .question {
    margin: 0 auto;
  }

  /* Shaped tag elements, margins push them down instead of text. Width stands instead of text that would be inside*/
  .tag {
    margin: 110px 15px 0 0;
  }

  /* Hides checkboxed that controls side panels */
  #leftPanelSlider,
  #rightPanelSlider {
    display: none;
  }
}
