@media only screen and (max-width: 1000px) {
  /* Navbar css */
  #navSearch {
    width: 100%;
  }
  #navButtons {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:5rem;
    padding: 0;
    margin: 0;
  }

  #navButtons:hover .navButton {
    display:block;
  }

  #navbarDropdownContent {
    position:absolute;
    top:42px;
    background-color: rgb(15, 15, 39);
  }

  #logo {
    padding: 0 0.5em 0 0;
  }

  .navButton{
    font-size: 0.9em;
    padding: 0.5em; 
  }

  #navRegister {
    padding: 0 0.5em;
  }

  /* Checkbox sliders */

  #leftPanelSlider:focus,
  #rightPanelSlider:focus {
    outline: 0;
  }

  /* Checkbox sliders appearance */
  #leftPanelSlider,
  #rightPanelSlider {
    z-index: 1;
    -webkit-appearance: none;
    position: fixed;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 0;
    top: 7%;
    margin-top: 2rem;
    height: 2rem;
    padding: 2rem 0.75rem;
    border: 1px solid rgb(238, 237, 237);
  }

  #leftPanelSlider {
    background-color: rgb(35, 35, 59);
  }

  #rightPanelSlider {
    background-color: rgb(15, 15, 39);
  }

  #leftPanelSlider:checked + #leftPanel,
  #rightPanelSlider:checked + #rightPanel {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }

  #leftPanelSlider:hover,
  #rightPanelSlider:hover {
    cursor: pointer;
  }

  #leftPanelSlider:checked,
  #rightPanelSlider:checked {
    margin-left: 50%;
  }

  #rightPanelSlider {
    margin-top: 7rem;
    top: 7%;
  }

  #rightPanel #ask {
    display: flex;
  }

  /* Adds animation on slider and panel */

  #leftPanel,
  #rightPanel,
  #leftPanelSlider,
  #rightPanelSlider {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  #leftPanel,
  #rightPanel {
    overflow: visible;
    z-index: 2;
    top:0;
    bottom:0;
    position: fixed;
    top: 42px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  #leftPanel:hover, #rightPanel:hover {
    overflow-y:scroll;
  }

  #leftPanel::-webkit-scrollbar, #rightPanel::-webkit-scrollbar {
    width:1px;
  }

  /* Left panel css */

  #leftPanel {
    background-color: white;
    width: 50%;
    scale: 0;
  }

  /* Right panel css */

  #rightPanel {
    margin: 0;
    z-index: 1;
    width: 50%;
  }

  .question {
    margin-bottom: 1em;
  }

  #navButtons .navButton {
    display: none;
  }

  #searchBox,
  #searchSubmit {
    display: none;
  }
}
