@media only screen and (max-width: 400px) {
  #leftPanelSlider:checked,
  #rightPanelSlider:checked {
    margin-left: 80%;
  }

  /* Left panel css */

  #leftPanel,
  #rightPanel {
    width: 80%;
  }

  #searchBox, #searchSubmit {
    display:none ;
  }

  .statusBars {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top:2em;
  }

  .viewsCount, .answersCount, .votesCount{
    margin-top: 1.5rem;
  } 
}
